<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <title>Talk-Talk</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  </head>
  <body onload="javascript:connect()">
    <!-- Chat Page -->
    <div id="chat-page">
      <div class="chat-container">
        <div class="chat-header">
          <h2>Talk-Talk Chat Window</h2>
        </div>
        <div class="connecting">
          Connecting...
        </div>
        <ul id="messageArea"></ul>
        <form id="message-form" name="messageForm">
          <div class="form-group">
            <div class="input-group clearfix">
              <input
                type="text"
                id="message"
                placeholder="Type a message..."
                autocomplete="off"
                class="form-control"
              />
              <button type="submit" class="primary">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script
      th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js}"
    ></script>
    <script
      th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"
    ></script>
    <script th:src="@{/js/main.js}"></script>
  </body>
</html>
